:root {
  --logo-color: #f72585;
  --links-color: #4cc9f0;
  /*under line*/
  --bg-color: #4cc9f0;
  --underline: #b5179e;
  --space: 6rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* > setting bar */
.setting-bar {
  position: fixed;
  width: 200px;
  left: -200px;
  top: 0;
  min-height: 100vh;
  background-color: white;
  z-index: 999;
  transition: 0.3s;
}
.setting-bar .settig-icon {
  position: absolute;
  top: 100px;
  right: -30px;
  background-color: var(--underline);
  width: 30px;
  text-align: center;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 0 0 10px 0px;
  color: white;
}
.setting-bar .setting-container {
}
.show {
  left: 0;
}
/* < setting bar */

/* > landing */
.landin-page {
  background-image: url(../img/background/1.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  transition: 1.5s;
}

.landin-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.landin-page .header {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 15px;
}
.landin-page .header .logo {
  font-weight: bold;
  width: 300px;
  padding: 15px;
  color: var(--logo-color);
}
.landin-page .header .links {
  width: 100%;
  list-style: none;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}

.landin-page .header .links li {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.landin-page .header .links a {
  text-decoration: none;
  cursor: pointer;
  color: #f0f5fc;
  transition: 0.3s;
}
.landin-page .header .links a:hover,
.landin-page .header .links a.active {
  color: var(--links-color);
}

.landin-page .intro-text {
  position: absolute;
  text-align: center;
  width: 65%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.landin-page .intro-text h1 {
  color: white;
  width: 45%;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 40px;
  background-image: linear-gradient(90deg, var(--bg-color), var(--bg-color)),
    linear-gradient(90deg, var(--underline), var(--underline));
  background-size: var(--space) 0.3rem, 100% 0.3rem;
  background-repeat: no-repeat;
  background-position-x: calc(var(--space) * -1), 0%;
  background-position-y: 105%;
  transition: 1s cubic-bezier(0.25, 0.86, 0.4, 0.96);
}

.landin-page .intro-text h1:hover {
  background-position-x: calc(100% + var(--space)), 0%;
}
.landin-page .intro-text h1 span {
  color: var(--links-color);
}

.landin-page .intro-text p {
  color: white;
  line-height: 1.8;
  font-size: 20px;
}
/* < landing */
