:root {
  --main-color: #f72585;
  --links-color: #4cc9f0;
  /*under line*/
  --underline: #b5179e;
  --space: 6rem;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

/* > setting bar */

.setting-bar {
  position: fixed;
  width: 200px;
  left: -200px;
  top: 0;
  min-height: 100vh;
  background-color: rgb(19, 18, 18);
  z-index: 999;
  transition: 0.3s;
}
.setting-bar .settig-icon {
  position: absolute;
  top: 100px;
  right: -30px;
  background-color: var(--underline);
  width: 30px;
  text-align: center;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 0 0 10px 0px;
  color: white;
}
.show {
  left: 0;
}
.setting-bar .setting-container {
  padding: 20px;
}

.setting-bar .option-box {
  text-align: center;
  background: #eee;
  padding: 10px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
}
.setting-bar .option-box h4 {
  color: var(--underline);
  margin: 0;
  font-weight: bold;
}

.setting-bar .option-box ul {
  list-style: none;
  background-color: black;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0px 7px 6px grey;
}
.setting-bar .option-box ul li {
  margin: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
  opacity: 0.5;
  display: inline-block;
  cursor: pointer;
}
.setting-bar .option-box ul li.active {
  opacity: 1;
}

.setting-bar .option-box ul :first-child {
  background-color: #4cc9f0;
}
.setting-bar .option-box ul :nth-child(2) {
  background-color: #f72585;
}
.setting-bar .option-box ul :nth-child(3) {
  background-color: red;
}
.setting-bar .random-color {
  margin-top: 15px;
}

.setting-bar .random-color span {
  color: white;
  background-color: #3f51b5;
  padding: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  width: 50px;
  font-weight: bold;
  font-size: 12px;
  margin: 3px;
}
.setting-bar .random-color span.active {
  opacity: 1;
}

/* < setting bar */

/* > landing */
.landin-page {
  background-image: url(../img/background/1.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  transition: 1.5s;
}

.landin-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.landin-page .header {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 15px;
}
.landin-page .header .logo {
  font-weight: bold;
  width: 300px;
  padding: 15px;
  color: var(--main-color);
}
.landin-page .header .links {
  width: 100%;
  list-style: none;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}

.landin-page .header .links li {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.landin-page .header .links a {
  text-decoration: none;
  cursor: pointer;
  color: #f0f5fc;
  transition: 0.3s;
}
.landin-page .header .links a:hover,
.landin-page .header .links a.active {
  color: var(--links-color);
}

.landin-page .intro-text {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.landin-page .intro-text h1 {
  color: white;
  width: 27%;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 40px;
  background-image: linear-gradient(
      90deg,
      var(--links-color),
      var(--links-color)
    ),
    linear-gradient(90deg, var(--underline), var(--underline));
  background-size: var(--space) 0.3rem, 100% 0.3rem;
  background-repeat: no-repeat;
  background-position-x: calc(var(--space) * -1), 0%;
  background-position-y: 105%;
  transition: 1s cubic-bezier(0.25, 0.86, 0.4, 0.96);
}

.landin-page .intro-text h1:hover {
  background-position-x: calc(100% + var(--space)), 0%;
}
.landin-page .intro-text h1 span {
  color: var(--links-color);
}

.landin-page .intro-text p {
  color: white;
  line-height: 1.8;
  font-size: 20px;
}
/* < landing */
